<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633804520382-l5d8dqhvo2upco3ris7m94dh0tjqcgbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633804520382-l5d8dqhvo2upco3ris7m94dh0tjqcgbe</string>
	<key>API_KEY</key>
	<string>AIzaSyBAOyiuIgYevHodVRHH8v8axV2X6tEL_vE</string>
	<key>GCM_SENDER_ID</key>
	<string>633804520382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carlos.MonsterHunterRiseApp</string>
	<key>PROJECT_ID</key>
	<string>monsterriseapp</string>
	<key>STORAGE_BUCKET</key>
	<string>monsterriseapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633804520382:ios:1d6333317cf374cbdc57ef</string>
</dict>
</plist>